body {
  background-color: #050a30;
}

.window{
  transition: transform .2s;
  max-height: 330px;
  max-width: 188px;
  margin: 10px;
}

img {
  transition: transform .2s;
}

img:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.window-overlay{
  color:white;
  left: 7%;
  top: 0;
  bottom: 3%;
  right:7%;
  font-size: 17px;
  transition: transform .2s;
  z-index: 7;
}

a .window-overlay {

  background: linear-gradient(transparent 0%, black);
  position: absolute;
  opacity: 0;

}

a:hover .window-overlay{
  opacity: 1;
  transform: scale(1.1);
}
a:hover .myDiv{
  transform: scale(1.1);
opacity: 1;
}

